<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- 1、checkbox单选框
        <label for="agree">
            <input type="checkbox" id="agree" v-model="isAgree">同意协议
        </label>
        <h2>你选择的是：{{isAgree}}</h2>
        <button v-bind:disabled="!isAgree">下一步</button> -->

        <!-- 2、checkbox多选框 -->
        <input type="checkbox" value="篮球" v-model="hobbies">篮球
        <input type="checkbox" value="足球" v-model="hobbies">足球
        <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
        <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
        <h2>您的爱好是：{{hobbies}}</h2>

        <label :for="item" v-for="item in OrginHobbies">
            <input type="checkbox" :value="item" v-model="hobbies" :id="item">{{item}}
        </label>
    </div>
    <script>
        const app = new Vue({
            el : "#app",
            data : {
               isAgree : false,
               hobbies : [],
               OrginHobbies : ['篮球','足球','乒乓球','羽毛球','橄榄球']
            }
        })
    </script>
</body>
</html>